RdJavaXSD1/xsd/doddfrank/CalypsoMQIncomingMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://www.cibc.com/schemas/Apollo/CalypsoInMessage/1"
	xmlns="http://www.cibc.com/schemas/Apollo/CalypsoInMessage/1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
  <xs:element name="CalypsoTrade">
    <xs:annotation>
      <xs:documentation>Calypso MQ incoming message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="system" type="SystemType" />
        <xs:element name="trans_id" type="xs:int" />
        <xs:element name="leg_id" type="xs:int" />
        <xs:element name="status" type="StatusType" />
        <xs:element name="trade_date" type="xs:date" />
        <xs:element name="start_date" type="xs:date" />
        <xs:element name="maturity_date" type="xs:date" />
        <xs:element name="buy_sell" type="BuySellType" />
        <xs:element name="org_unit" type="xs:int" />
        <xs:element name="book" type="xs:string" />
        <xs:element name="base_counterparty_id" type="xs:int" />
        <xs:element name="counterparty_id" type="xs:int" />
        <xs:element name="counterparty_name" type="xs:string" />
        <xs:element name="currency" type="CurrencyType" />
        <xs:element name="notional" type="xs:decimal" />
        <xs:element name="reference" type="xs:string" />
        <xs:element name="reference_long" type="xs:string" minOccurs="0" />
        <xs:element name="coupon" type="xs:decimal" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="frequency" type="xs:string" />
        <xs:element name="standard_tenor" type="xs:string" />
        <xs:element name="basis" type="xs:string" />
        <xs:element name="accrual_calendar" type="xs:string" minOccurs="0" />
        <xs:element name="accrual_bdc" type="xs:string" />
        <xs:element name="pay_instrument" type="xs:string" />
        <xs:element name="rec_instrument" type="xs:string" />
        <xs:element name="mtm" type="xs:decimal" />
        <xs:element name="mtm_ccy" type="CurrencyType" />
        <xs:element name="mtm_in_usd" type="xs:double" />
        <xs:element name="val_date" type="xs:date" />
        <xs:element name="cds_index_flag" type="xs:boolean" />
        <xs:element name="trader" type="xs:string" />
        <xs:element name="execution_timestamp" type="xs:dateTime" minOccurs="0" />
        <xs:element name="additional_price_notation" type="xs:boolean" />
        <xs:element name="termination_reason" type="xs:string" minOccurs="0" />
        <xs:element name="comment" type="xs:string" minOccurs="0" />
        <xs:element name="allocated_swap" type="xs:boolean"/>
        <xs:element name="post_allocated_swap" type="xs:boolean" />
        <xs:element name="is_cleared" type="xs:boolean" />
        <xs:element name="is_bespoke" type="xs:boolean" />
        <xs:element name="execution_venue" type="ExecutionVenueType" />
        <xs:element name="is_allocated" type="xs:boolean" />
        <xs:element name="clearing_venue" type="xs:string" minOccurs="0" />
        <xs:element name="version" type="xs:int" />
        <xs:element name="usi_name_space" type="xs:string" />
        <xs:element name="usi_trans_id" type="xs:string" />
        <xs:element name="cpty_usi_name_space" type="xs:string" minOccurs="0" />
        <xs:element name="cpty_usi_trans_id" type="xs:string" minOccurs="0" />
        <xs:element name="intent_to_clear" type="xs:boolean" />
        <xs:element name="corporate_action" type="xs:string" minOccurs="0" />
        <xs:element name="broker" type="xs:string" />
        <xs:element name="broker_location" type="xs:string"/>
        <xs:element name="cleared_product_id" type="xs:string" minOccurs="0" />
        <xs:element name="cleared_timestamp" type="xs:dateTime" minOccurs="0" />
        <xs:element name="uti_name_space" type="xs:string"  minOccurs="0" />
        <xs:element name="uti_trans_id" type="xs:string"  minOccurs="0" />
        <xs:element name="mtm_type" type="xs:string" />
        <xs:element name="cash_flow_values" type="CashFlowElementsType" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="version" type="PositiveIntegerType" use="required" fixed="1"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PositiveIntegerType">
    <xs:restriction base="xs:integer">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyType">
    <xs:annotation>
      <xs:documentation>A 3 digit ISO currency code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SystemType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Calypso"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BuySellType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Buy|Sell"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExecutionVenueType">
    <xs:restriction base="xs:string">
      <xs:pattern value="SEF|DCM|Off-Facility"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Verified|Terminated"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashFlowElementType">
    <xs:annotation>
      <xs:documentation>Cash flow</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cash_flow_type" type="xs:string" minOccurs="0" />
      <xs:element name="cash_flow_date" type="xs:date" minOccurs="0" />
      <xs:element name="cash_flow_amount" type="xs:double" minOccurs="0" />
      <xs:element name="cash_flow_currency" type="CurrencyType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashFlowElementsType">
    <xs:annotation>
      <xs:documentation>Cash flows elements</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cash_flow_value" type="CashFlowElementType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
